{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">

        <form method="POST" action="/login">
            <div class="form-group">
                <label for="exampleDropdownFormEmail2">{{ _("Email address") }}</label>
                <input type="email" name="email" required="required" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword2">{{ _("Password") }}</label>
                <input type="password" name="password" required="required" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    {{ _("Remember me") }}
                </label>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="text-danger">
                        {{ messages[0] }}
                    </div>
                    <p></p>
                {% endif %}
            {% endwith %}
              <button type="submit" class="btn btn-secondary btn-lg btn-block">{{ _("Login") }}</button>
        </form>
    </div>
</div>
{% endblock %}